[client]
socket=/var/lib/mysql/mysql.sock
ssl-ca=/etc/mysql/certs/ca.pem
ssl-cert=/etc/mysql/certs/server-cert.pem
ssl-key=/etc/mysql/certs/server-key.pem

[mysqld]

server-id=1

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

skip-name-resolve=ON

# Binary log expiration - 7 days
binlog_expire_logs_seconds=604800

# Default storage engine required by PXC
default_storage_engine=InnoDB

######## TLS / SSL ########

ssl-ca=/etc/mysql/certs/ca.pem
ssl-cert=/etc/mysql/certs/server-cert.pem
ssl-key=/etc/mysql/certs/server-key.pem

######## WSREP / Galera ########

wsrep_provider=/usr/lib64/galera4/libgalera_smm.so

wsrep_cluster_address=gcomm://{{ var_group.percona_node_01_ip_address }},{{ var_group.percona_node_02_ip_address }},{{ var_group.percona_node_03_ip_address }}

wsrep_cluster_name={{ var_group.wsrep_cluster_name }}

wsrep_node_address={{ var_group.percona_node_01_ip_address }}
wsrep_node_name={{ var_group.percona_node_01_hostname }}

# PXC 8.4 replacement for deprecated wsrep_slave_threads
wsrep_applier_threads=8

wsrep_log_conflicts=ON

innodb_autoinc_lock_mode=2

pxc_strict_mode=PERMISSIVE

######## PXC Cluster Encryption ########

pxc-encrypt-cluster-traffic=ON

wsrep_provider_options="socket.ssl=yes;socket.ssl_ca=/etc/mysql/certs/ca.pem;socket.ssl_cert=/etc/mysql/certs/server-cert.pem;socket.ssl_key=/etc/mysql/certs/server-key.pem"

######## SST ########

wsrep_sst_method=xtrabackup-v2

[sst]

encrypt=4
ssl-ca=/etc/mysql/certs/ca.pem
ssl-cert=/etc/mysql/certs/server-cert.pem
ssl-key=/etc/mysql/certs/server-key.pem