vault_url = https://{{var_group.vault_url_ip_address}}:8200
secret_mount_point = {{var_group.percona_node_03_short_name}}
secret_mount_point_version = 2
token =
vault_ca = /var/lib/mysql-keyring/tls.crt